spring-publishing-webapp/src/main/java/soap/code_to_generate.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ws.sample/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="BookService" targetNamespace="http://service.ws.sample/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.ws.sample/" elementFormDefault="unqualified" targetNamespace="http://service.ws.sample/" version="1.0">
            <xs:element name="book-request" type="tns:book-request"/>
            <xs:element name="book-response" type="tns:book-response"/>
            <xs:complexType name="book-request">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="isbns" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="book-response">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="result" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="doRequestResponse">
        <wsdl:part element="tns:book-response" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="doRequest">
        <wsdl:part element="tns:book-request" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BookService">
        <wsdl:operation name="doRequest">
            <wsdl:input message="tns:doRequest" name="doRequest"> </wsdl:input>
            <wsdl:output message="tns:doRequestResponse" name="doRequestResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BookServiceSoapBinding" type="tns:BookService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="doRequest">
            <soap:operation soapAction="urn:DoRequest" style="document"/>
            <wsdl:input name="doRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="doRequestResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BookService">
        <wsdl:port binding="tns:BookServiceSoapBinding" name="BookPort">
            <soap:address location="http://localhost:8081/service/book"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>